@font-face {
  font-family: Source Serif Pro;
  src: url(../fonts/SourceSerifPro-Regular.ttf);
}

body {
  margin: 0;
}

main {
  width: 100vw;
}

#home-bg-outer {
  position: relative;
  border-bottom: 2px solid #ab9791;
  padding: 200px 20px 240px;
  background-image: linear-gradient(170deg, #1f2d3d 0%,#406080 80%);
}

#home-bg-inner::before {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-image: url('../img/home/contract.webp');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  opacity: 0.2;
  content: '';
}

#home-bg-inner > p {
  margin: 0;
  font-family: Source Serif Pro, sans-serif;
  font-size: 42px;
  line-height: 55px;
  color: #f5f8fa;
}

#home-bg-inner > a {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  margin-top: 30px;
  border: 2px solid #ab9791;
  padding: 7px 16px;
  font-family: Source Serif Pro, sans-serif;
  font-size: 18px;
  line-height: 30px;
  color: #ffffff;
  text-decoration: none;
}

#home-about-wrap {
  padding: 40px 20px 80px;
}

#home-headline-wrap {
  padding-left: 20px;
  border-left: 2px solid #ab9791;
  box-sizing: border-box;
}

#home-headline-wrap > p {
  margin: 0;
  font-family: Source Serif Pro, sans-serif;
  font-size: 26px;
  line-height: 36px;
  color: #1f2d3d;
}

#home-maintext {
  margin: 40px 0 25px;
  font-family: Source Serif Pro, sans-serif;
  font-size: 18px;
  line-height: 30px;
  color: #000000;
}

#awards-wrap {
  display: flex;
  column-gap: 20px;
  padding-bottom: 60px;
}

.award {
  width: 25%;
  margin: 0;
  filter: grayscale(90%);
}

.award > img {
  width: 100%;
  border-radius: 9999px;
}

#home-contact-wrap {
  border-top: 2px solid #ab9791;
  padding: 30px 40px 10px;
  background-color: #f5f8fa;
}

#home-contact-wrap > h2 {
  margin: 0 0 15px;
  font-family: Source Serif Pro, sans-serif;
  font-size: 26px;
  font-style: normal;
  font-weight: 400;
  line-height: 36px;
  color: #000000;
  text-align: center;
}

#home-contact-wrap > p {
  margin: 0 0 25px;
  font-family: Source Serif Pro, sans-serif;
  font-size: 18px;
  line-height: 30px;
  color: #000000;
  text-align: center;
}

.label-up,
.label-up-error,
.label-down
{
  display: block;
  transition: .2s linear;
  font-family: Source Serif Pro, sans-serif;
  line-height: 20px;
}

.label-up {
  font-size: 12px;
  font-weight: 700;
  color: #17a8e3;
}

.label-up-error {
  font-size: 12px;
  font-weight: 700;
  color: #e04562;
}

.label-down {
  transform: translateY(30px);
  font-size: 16px;
  color: #888;
}

.input-wrap-outer, .textarea-wrap {
  position: relative;
  margin-bottom: 20px;
}

.input-default,
.input-hover-on,
.input-hover-off,
.input-focus,
.input-error
{
  position: relative;
}

.input {
  width: 100%;
  border-width: 0;
  border-bottom: 1px solid #777771;
  box-sizing: border-box;
  padding: 10px 0 9px;
  background-color: #f5f8fa;
  outline: none;
}

.input::placeholder {
  font-family: Source Serif Pro, sans-serif;
  font-size: 16px;
  line-height: 20px;
  color: #888;
}

.input-default::after,
.input-hover-on::after,
.input-hover-off::after,
.input-focus::after,
.input-error::after
{
  display: block;
  position: absolute;
  height: 2px;
  bottom: 0;
  transition: .2s linear;
  content: '';
}

.input-focus::after {
  left: 0;
  right: 0;
  background-color: #17a8e3;
}

.input-error::after {
  left: 0;
  right: 0;
  background-color: #e04562;
}

.input-hover-on::after {
  animation-name: hover-on;
  animation-duration: .2s;
  animation-timing-function: linear;
  animation-fill-mode: forwards;
}

@keyframes hover-on {
  from {
    left: 50%;
    right: 50%;
    background-color: #17a8e3;
  }

  to {
    left: 0;
    right: 0;
    background-color: #17a8e3;
  }
}

.input-hover-off::after {
  animation-name: hover-off;
  animation-duration: .2s;
  animation-timing-function: linear;
  animation-fill-mode: forwards;
}

@keyframes hover-off {
  from {
    left: 0;
    right: 0;
    background-color: #17a8e3;
  }

  to {
    left: 50%;
    right: 50%;
    background-color: #17a8e3;
  }
}

.label-txt-up,
.label-txt-up-error,
.label-txt-down
{
  display: block;
  position: absolute;
  padding-left: 10px;
  transition: .2s linear;
  font-family: Source Serif Pro, sans-serif;
  line-height: 20px;
}

.label-txt-up {
  padding-top: 10px;
  font-size: 12px;
  font-weight: 700;
  color: #17a8e3;
}

.label-txt-up-error {
  padding-top: 10px;
  font-size: 12px;
  font-weight: 700;
  color: #e04562;
}

.label-txt-down {
  padding-top: 30px;
  font-size: 16px;
  color: #888;
}

.textarea-default,
.textarea-focus,
.textarea-error,
.textarea-hover 
{
  width: 100%;
  height: 120px;
  border: 1px solid #777771;
  box-sizing: border-box;
  background-color: #f5f8fa;
  outline: none;
  resize: none;
  transition: .2s ease;
}

.textarea-default {
  padding: 29px 9px 9px;
}

.textarea-hover, .textarea-focus {
  border: 2px solid #17a8e3;
  padding: 28px 8px 8px;
}

.textarea-error {
  border: 2px solid #e04562;
  padding: 28px 8px 8px;
}

.textarea-default::placeholder, 
.textarea-focus::placeholder, 
.textarea-error::placeholder,
.textarea-hover::placeholder 
{
  font-family: Source Serif Pro, sans-serif;
  font-size: 16px;
  line-height: 20px;
  color: #888;
}

.textarea-wrap > span {
  display: block;
  margin-top: 5px;
  font-family: Source Serif Pro, sans-serif;
  font-size: 12px;
  line-height: 18px;
  color: #888;
  text-align: end;
}

.input-wrap-outer > small, .textarea-wrap > small {
  margin-top: 5px;
  font-family: Source Serif Pro, sans-serif;
  font-size: 12px;
  color: #e04562;
}

#submit-btn {
  width: 100%;
  border: none;
  border-radius: 2px;
  padding: 10px;
  background-color: #1f2d3d;
  transition: .2s ease;
  font-family: Source Serif Pro, sans-serif;
  font-size: 14px;
  color: #ffffff;
  cursor: pointer;
}

#submit-btn:hover {
  background-color: #008fca;
}

#areas-of-expertise-wrap {
  position: relative;
  border-top: 2px solid #ab9791;
  background-image: linear-gradient(130deg,#1f2d3d 10%,#406080 90%);
}

#areas-of-expertise-wrap::before {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-image: url('../img/home/lawyer.webp');
  background-repeat: no-repeat;
  background-position: right center;
  background-size: cover;
  opacity: .1;
}

#areas-of-expertise-wrap > div {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 90px 20px 60px;
}

#areas-of-expertise-wrap h6 {
  margin: 0;
  font-family: Source Serif Pro, sans-serif;
  font-size: 34px;
  font-style: normal;
  font-weight: 400;
  line-height: 58px;
  text-align: center;
  color: #ffffff;
}

.area-of-expertise {
  margin-top: 60px;
}

.area-of-expertise > svg {
  width: 47px;
  height: 47px;
  fill: #ab9791;
}

.area-of-expertise > p {
  margin: 15px 0 25px;
  font-family: Source Serif Pro, sans-serif;
  font-size: 18px;
  line-height: 30px;
  color: #ffffff;
}

.area-of-expertise > a {
  font-family: Source Serif Pro, sans-serif;
  font-size: 18px;
  line-height: 30px;
  text-decoration: none;
  color: #ab9791;
}

#the-team {
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 80px;
  padding-top: 20px;
}

.card-wrap {
  border-top: 2px solid #ab9791;
  box-shadow: 0px 0px 10px rgb(20 20 20 / 10%);
}

.card-wrap > img {
  width: 300px;
}

.card-inner-wrap {
  padding: 20px 25px 15px;
}

.card-inner-wrap > h3 {
  margin: 0;
  font-family: Source Serif Pro, sans-serif;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 28px;
  text-align: center;
  color: #000000;
}

.card-inner-wrap > p {
  border-bottom: 1px solid rgba(64, 96, 128, 0.4);
  margin: 0;
  padding-bottom: 12px;
  font-family: Source Serif Pro, sans-serif;
  font-size: 16px;
  font-style: italic;
  line-height: 27px;
  text-align: center;
  color: #000000;
}

.card-inner-wrap > div {
  display: flex;
  justify-content: end;
}

.card-inner-wrap a {
  display: inline-block;
  padding-top: 15px;
  font-family: Source Serif Pro, sans-serif;
  font-size: 16px;
  font-style: italic;
  line-height: 28px;
  text-decoration: none;
  color: #000000;
}

.card-inner-wrap svg {
  display: inline-block;
  margin-left: 5px;
  width: 14px;
  height: 14px;
  vertical-align: middle;
  fill: #000000;
}

#meet-the-team {
  display: flex;
  justify-content: center;
}

#meet-the-team > a {
  display: inline-block;
  font-family: Source Serif Pro, sans-serif;
  font-size: 18px;
  line-height: 30px;
  text-decoration: none;
  color: #ab9791;
}

#meet-the-team svg {
  display: inline-block;
  margin-left: 9px;
  width: 18px;
  height: 18px;
  vertical-align: middle;
  fill: #ab9791;
}