@font-face {
  font-family: Source Serif Pro;
  src: url(../fonts/SourceSerifPro-Regular.ttf);
}

body {
  margin: 0;
}

main {
  width: 100vw;
}

#home-bg-outer {
  position: relative;
  border-bottom: 2px solid #ab9791;
  padding: 200px 20px 240px;
  background-image: linear-gradient(170deg, #1f2d3d 0%,#406080 80%);
}

#home-bg-inner::before {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-image: url('../img/home/contract.webp');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  opacity: 0.2;
  content: '';
}

#home-bg-inner > p {
  margin: 0;
  font-family: Source Serif Pro, sans-serif;
  font-size: 42px;
  line-height: 55px;
  color: #f5f8fa;
}

#home-bg-inner > a {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  margin-top: 30px;
  border: 2px solid #ab9791;
  padding: 7px 16px;
  font-family: Source Serif Pro, sans-serif;
  font-size: 18px;
  line-height: 30px;
  color: #ffffff;
  text-decoration: none;
}

#home-about-wrap {
  padding: 40px 20px 80px;
}

#home-headline-wrap {
  padding-left: 20px;
  border-left: 2px solid #ab9791;
  box-sizing: border-box;
}

#home-headline-wrap > p {
  margin: 0;
  font-family: Source Serif Pro, sans-serif;
  font-size: 26px;
  line-height: 36px;
  color: #1f2d3d;
}

#home-maintext {
  margin: 40px 0 25px;
  font-family: Source Serif Pro, sans-serif;
  font-size: 18px;
  line-height: 30px;
  color: #000000;
}

#awards-wrap {
  display: flex;
  column-gap: 20px;
  padding-bottom: 60px;
}

.award {
  width: 25%;
  margin: 0;
  filter: grayscale(90%);
}

.award > img {
  width: 100%;
  border-radius: 9999px;
}

#home-contact-wrap {
  border-top: 2px solid #ab9791;
  padding: 30px 40px 10px;
}

#home-contact-wrap > h2 {
  margin: 0 0 15px;
  font-family: Source Serif Pro, sans-serif;
  font-size: 26px;
  font-style: normal;
  font-weight: 400;
  line-height: 36px;
  color: #000000;
  text-align: center;
}

#home-contact-wrap > p {
  margin: 0 0 25px;
  font-family: Source Serif Pro, sans-serif;
  font-size: 18px;
  line-height: 30px;
  color: #000000;
  text-align: center;
}

.input-wrap-outer, .textarea-wrap {
  margin-bottom: 20px;
}

.input-wrap-inner, .input-wrap-inner-active, .input-wrap-inner-error {
  position: relative;
}

.input {
  width: 100%;
  border-width: 0;
  border-bottom: 1px solid #777771;
  box-sizing: border-box;
  padding: 10px 0 9px;
  outline: none;
}

.input::placeholder {
  font-family: Source Serif Pro, sans-serif;
  font-size: 16px;
  line-height: 20px;
  color: #888;
}

.input-wrap-inner::after {
  display: block;
  position: absolute;
  bottom: 0;
  content: '';
}

.input-wrap-inner:hover::after, .input-wrap-inner-active::after, .input-wrap-inner-error::after {
  display: block;
  position: absolute;
  bottom: 0;
  height: 2px;
  content: '';
  animation-name: input-animation;
  animation-duration: .2s;
  animation-timing-function: linear;
  animation-fill-mode: forwards;
}

.input-wrap-inner:hover::after, .input-wrap-inner-active::after {
  background-color: #17a8e3;
}

.input-wrap-inner-error::after {
  background-color: #e04562;
}

@keyframes input-animation {
  from {
    left: 50%;
    right: 50%;
  }

  to {
    left: 0;
    right: 0;
  }
}

.textarea, .textarea-active, .textarea-error {
  width: 100%;
  height: 120px;
  border: 1px solid #777771;
  box-sizing: border-box;
  outline: none;
  resize: none;
}

.textarea {
  padding: 29px 9px 9px;
}

.textarea:hover, .textarea-active {
  border: 2px solid #17a8e3;
  padding: 28px 8px 8px;
}

.textarea-error {
  border: 2px solid #e04562;
  padding: 28px 8px 8px;
}

.textarea::placeholder, .textarea-active::placeholder, .textarea-error::placeholder {
  font-family: Source Serif Pro, sans-serif;
  font-size: 16px;
  line-height: 20px;
  color: #888;
}

.textarea-wrap > span {
  display: block;
  margin-top: 5px;
  font-family: Source Serif Pro, sans-serif;
  font-size: 12px;
  line-height: 18px;
  color: #888;
  text-align: end;
}

.input-wrap-outer > small, .textarea-wrap > small {
  margin-top: 5px;
  font-family: Source Serif Pro, sans-serif;
  font-size: 12px;
  color: #e04562;
}

#submit-btn {
  width: 100%;
  border: none;
  border-radius: 2px;
  padding: 10px;
  background-color: #1f2d3d;
  font-family: Source Serif Pro, sans-serif;
  font-size: 14px;
  color: #ffffff;
  cursor: pointer;
}

#submit-btn:hover {
  background-color: #008fca;
}