@media screen and (max-width: 600px) {
  #scroll-block {
    height: 100vh;
    overflow-y: hidden;
  }

  header {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    display: flex;
    justify-content: end;
    padding: 40px;
  }

  #burger-wrap {
    position: relative;
    width: 22px;
    height: 20px;
    z-index: 2;
    cursor: pointer;
  }

  #burger-wrap > span {
    position: absolute;
    width: 22px;
    height: 2px;
    background-color: #ffffff;
    transition: all 0.25s ease-in-out;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 10px;
  }

  .upper-line {
    left: 0;
  }

  .upper-line-active {
    transform: translateY(10px) translateY(-50%) rotate(-45deg);
  }

  .mid-line {
    margin: 9px 0;
    top: 0;
    left: 0;
  }

  .mid-line-active {
    opacity: 0;
  }

  .down-line {
    left: 0;
    bottom: 0;
  }

  .down-line-active {
    transform: translateY(-10px) translateY(50%) rotate(45deg);
  }

  nav {
    display: none;
  }

  #menu-wrap-open {
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    min-height: 100vh;
    padding: 80px 50px 0;
    box-sizing: border-box;
    background-color: #1f2d3d;
    z-index: 1;
  }

  .sub-menu-open {
    display: block;
  }

  .sub-menu-closed {
    display: none;
  }

  #menu-wrap-open a, .sub-menu-open > a {
    display: block;
    font-family: Source Serif Pro, sans-serif;
    font-size: 20px;
    line-height: 60px;
    text-decoration: none;
    text-align: end;
    color: #ffffff;
  }

  #menu-wrap-open a:hover, .sub-menu-open > a:hover {
    color: #ab9791;
  }

  .nav-link-no-sub {
    padding-right: 30px;
  }

  .nav-link-wrap {
    display: flex;
    align-items: center;
    justify-content: flex-end;
  }

  .svg-down {
    width: 20px;
    height: 20px;
    padding-left: 10px;
    vertical-align: middle;
    fill: #ffffff;
  }

  .svg-up {
    width: 20px;
    height: 20px;
    padding-right: 10px;
    vertical-align: middle;
    transform: rotate(180deg);
    fill: #ab9791;
  }
}

@media screen and (min-width: 601px) {
  #burger-wrap {
    display: none;
  }
}