main {
  width: 100vw;
}

#home-bg-outer {
  position: relative;
  border-bottom: 2px solid #ab9791;
  padding: 200px 20px 240px;
  background-image: linear-gradient(170deg, #1f2d3d 0%,#406080 80%);
}

#home-bg-inner::before {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-image: url('../img/home/contract.webp');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  opacity: 0.2;
  content: '';
}

#home-bg-inner > p {
  margin: 0;
  font-family: Source Serif Pro, sans-serif;
  font-size: 42px;
  line-height: 55px;
  color: #f5f8fa;
}

#home-bg-inner > a {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  margin-top: 30px;
  border: 2px solid #ab9791;
  padding: 7px 16px;
  font-family: Source Serif Pro, sans-serif;
  font-size: 18px;
  line-height: 30px;
  color: #ffffff;
  text-decoration: none;
}

#home-about-wrap {
  padding: 40px 20px 80px;
}

#home-headline-wrap {
  padding-left: 20px;
  border-left: 2px solid #ab9791;
  box-sizing: border-box;
}

#home-headline-wrap > p {
  margin: 0;
  font-family: Source Serif Pro, sans-serif;
  font-size: 26px;
  line-height: 36px;
  color: #1f2d3d;
}

#home-maintext {
  margin: 40px 0 25px;
  font-family: Source Serif Pro, sans-serif;
  font-size: 18px;
  line-height: 30px;
  color: #000000;
}

#awards-wrap {
  display: flex;
  column-gap: 20px;
  padding-bottom: 60px;
}

.award {
  width: 25%;
  margin: 0;
  filter: grayscale(90%);
}

.award > img {
  width: 100%;
  border-radius: 9999px;
}

#home-contact-wrap {
  border-top: 2px solid #ab9791;
  padding: 30px 40px 10px;
  background-color: #f5f8fa;
}

#home-contact-wrap > h2 {
  margin: 0 0 15px;
  font-family: Source Serif Pro, sans-serif;
  font-size: 26px;
  font-style: normal;
  font-weight: 400;
  line-height: 36px;
  color: #000000;
  text-align: center;
}

#home-contact-wrap > p {
  margin: 0 0 25px;
  font-family: Source Serif Pro, sans-serif;
  font-size: 18px;
  line-height: 30px;
  color: #000000;
  text-align: center;
}

#areas-of-expertise-wrap {
  position: relative;
  border-top: 2px solid #ab9791;
  background-image: linear-gradient(130deg,#1f2d3d 10%,#406080 90%);
}

#areas-of-expertise-wrap::before {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-image: url('../img/home/lawyer.webp');
  background-repeat: no-repeat;
  background-position: right center;
  background-size: cover;
  opacity: .1;
}

#areas-of-expertise-wrap > div {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 90px 20px 60px;
}

#areas-of-expertise-wrap h6 {
  margin: 0;
  font-family: Source Serif Pro, sans-serif;
  font-size: 34px;
  font-style: normal;
  font-weight: 400;
  line-height: 58px;
  text-align: center;
  color: #ffffff;
}

.area-of-expertise {
  margin-top: 60px;
}

.area-of-expertise > svg {
  width: 47px;
  height: 47px;
  fill: #ab9791;
}

.area-of-expertise > p {
  margin: 15px 0 25px;
  font-family: Source Serif Pro, sans-serif;
  font-size: 18px;
  line-height: 30px;
  color: #ffffff;
}

.area-of-expertise > a {
  font-family: Source Serif Pro, sans-serif;
  font-size: 18px;
  line-height: 30px;
  text-decoration: none;
  color: #ab9791;
}

#the-team {
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 80px;
  padding-top: 20px;
}

.card-wrap {
  border-top: 2px solid #ab9791;
  box-shadow: 0px 0px 10px rgb(20 20 20 / 10%);
}

.card-wrap > img {
  width: 300px;
}

.card-inner-wrap {
  padding: 20px 25px 15px;
}

.card-inner-wrap > h3 {
  margin: 0;
  font-family: Source Serif Pro, sans-serif;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 28px;
  text-align: center;
  color: #000000;
}

.card-inner-wrap > p {
  border-bottom: 1px solid rgba(64, 96, 128, 0.4);
  margin: 0;
  padding-bottom: 12px;
  font-family: Source Serif Pro, sans-serif;
  font-size: 16px;
  font-style: italic;
  line-height: 27px;
  text-align: center;
  color: #000000;
}

.card-inner-wrap > div {
  display: flex;
  justify-content: end;
}

.card-inner-wrap a {
  display: inline-block;
  padding-top: 15px;
  font-family: Source Serif Pro, sans-serif;
  font-size: 16px;
  font-style: italic;
  line-height: 28px;
  text-decoration: none;
  color: #000000;
}

.card-inner-wrap svg {
  display: inline-block;
  margin-left: 5px;
  width: 14px;
  height: 14px;
  vertical-align: middle;
  fill: #000000;
}

#meet-the-team {
  display: flex;
  justify-content: center;
}

#meet-the-team > a {
  display: inline-block;
  font-family: Source Serif Pro, sans-serif;
  font-size: 18px;
  line-height: 30px;
  text-decoration: none;
  color: #ab9791;
}

#meet-the-team svg {
  display: inline-block;
  margin-left: 9px;
  width: 18px;
  height: 18px;
  vertical-align: middle;
  fill: #ab9791;
}