main {
  width: 100vw;
}

#home-bg-wrap {
  position: relative;
  border-bottom: 2px solid #ab9791;
  padding: 200px 20px 240px;
  background-image: linear-gradient(170deg, #1f2d3d 0%,#406080 80%);
}

#home-bg-wrap::before {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-image: url('../img/home/contract.webp');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  opacity: 0.2;
  content: '';
}

#home-bg-wrap > p {
  position: relative;
  margin: 0;
  font-family: Source Serif Pro, sans-serif;
  font-size: 35px;
  line-height: 55px;
  color: #f5f8fa;
}

#home-bg-wrap > a {
  position: relative;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  margin-top: 30px;
  border: 2px solid #ab9791;
  padding: 7px 16px;
  font-family: Source Serif Pro, sans-serif;
  font-size: 18px;
  line-height: 30px;
  color: #ffffff;
  text-decoration: none;
}

#home-about-wrap {
  display: grid;
  grid-template-areas:
    'headline headline'
    'maintext maintext'
    'awards awards'
    'form form';
  justify-items: center;
  padding: 40px 20px 80px;
}

#home-headline-wrap {
  grid-area: headline;
  padding-left: 20px;
  border-left: 2px solid #ab9791;
  box-sizing: border-box;
}

#home-headline-wrap > p {
  margin: 0;
  font-family: Source Serif Pro, sans-serif;
  font-size: 26px;
  line-height: 36px;
  color: #1f2d3d;
}

#home-maintext {
  grid-area: maintext;
  margin: 40px 0 25px;
  font-family: Source Serif Pro, sans-serif;
  font-size: 18px;
  line-height: 30px;
  color: #000000;
}

#awards-wrap {
  display: flex;
  grid-area: awards;
  column-gap: 20px;
  padding-bottom: 60px;
}

.award {
  width: 25%;
  margin: 0;
  filter: grayscale(90%);
}

.award > img {
  width: 100%;
  border-radius: 9999px;
}

#home-contact-wrap {
  grid-area: form;
  max-width: 450px;
  border-top: 2px solid #ab9791;
  padding: 30px 40px 10px;
  box-sizing: border-box;
  background-color: #f5f8fa;
}

#home-contact-wrap > h2 {
  margin: 0 0 15px;
  font-family: Source Serif Pro, sans-serif;
  font-size: 26px;
  font-style: normal;
  font-weight: 400;
  line-height: 36px;
  color: #000000;
  text-align: center;
}

#home-contact-wrap > p {
  margin: 0 0 25px;
  font-family: Source Serif Pro, sans-serif;
  font-size: 18px;
  line-height: 30px;
  color: #000000;
  text-align: center;
}

#areas-of-expertise-wrap {
  position: relative;
  border-top: 2px solid #ab9791;
  background-image: linear-gradient(130deg,#1f2d3d 10%,#406080 90%);
}

#areas-of-expertise-wrap::before {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-image: url('../img/home/lawyer.webp');
  background-repeat: no-repeat;
  background-position: right center;
  background-size: cover;
  opacity: .1;
}

#areas-of-expertise-wrap > div {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 90px 20px 60px;
}

#areas-of-expertise-wrap h6 {
  margin: 0 0 60px;
  font-family: Source Serif Pro, sans-serif;
  font-size: 34px;
  font-style: normal;
  font-weight: 400;
  line-height: 58px;
  text-align: center;
  color: #ffffff;
}

#areas-of-expertise {
  display: grid;
  grid-template-columns: 1fr;
  row-gap: 60px;
}

.area-of-expertise {
  display: flex;
  flex-direction: column;
  height: 180px;
}

.area-of-expertise > svg {
  width: 47px;
  height: 47px;
  fill: #ab9791;
}

.area-of-expertise > p {
  margin: 15px 0 0;
  font-family: Source Serif Pro, sans-serif;
  font-size: 18px;
  line-height: 30px;
  color: #ffffff;
}

.area-of-expertise > a {
  margin: auto 0 0;
  font-family: Source Serif Pro, sans-serif;
  font-size: 18px;
  line-height: 30px;
  text-decoration: none;
  color: #ab9791;
}

#the-team {
  padding-top: 20px;
}

#card-grid {
  display: grid;
  grid-template-columns: 300px;
  justify-content: center;
  row-gap: 80px;
}

.card-wrap {
  border-top: 2px solid #ab9791;
  box-shadow: 0px 0px 10px rgb(20 20 20 / 10%);
}

.card-wrap > img {
  width: 300px;
}

.card-inner-wrap {
  padding: 20px 25px 15px;
}

.card-inner-wrap > h3 {
  margin: 0;
  font-family: Source Serif Pro, sans-serif;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 28px;
  text-align: center;
  color: #000000;
}

.card-inner-wrap > p {
  border-bottom: 1px solid rgba(64, 96, 128, 0.4);
  margin: 0;
  padding-bottom: 12px;
  font-family: Source Serif Pro, sans-serif;
  font-size: 16px;
  font-style: italic;
  line-height: 27px;
  text-align: center;
  color: #000000;
}

.card-inner-wrap > div {
  display: flex;
  justify-content: end;
}

.card-inner-wrap a {
  display: inline-block;
  padding-top: 15px;
  font-family: Source Serif Pro, sans-serif;
  font-size: 16px;
  font-style: italic;
  line-height: 28px;
  text-decoration: none;
  color: #000000;
}

.card-inner-wrap svg {
  display: inline-block;
  margin-left: 5px;
  width: 14px;
  height: 14px;
  vertical-align: middle;
  fill: #000000;
}

#meet-the-team {
  display: flex;
  justify-content: center;
  margin-top: 80px;
}

#meet-the-team > a {
  display: inline-block;
  font-family: Source Serif Pro, sans-serif;
  font-size: 18px;
  line-height: 30px;
  text-decoration: none;
  color: #ab9791;
}

#meet-the-team svg {
  display: inline-block;
  margin-left: 9px;
  width: 18px;
  height: 18px;
  vertical-align: middle;
  fill: #ab9791;
}

#client-testimonials {
  padding: 60px 20px 100px;
}

#client-testimonials-header {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#client-testimonials-header > svg {
  width: 77px;
  height: 77px;
  fill: #ab9791;
}

#client-testimonials-header > p {
  margin: 10px 0 0;
  font-family: Source Serif Pro, sans-serif;
  font-size: 22px;
  line-height: 30px;
  color: #000000;
}

#testimonials-wrap {
  display: grid;
  grid-template-columns: 1fr;
  row-gap: 80px;
  padding-top: 40px;
}

.testimonial {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px 60px 0;
}

.stars-wrap {
  display: flex;
  column-gap: 6px;
}

.stars-wrap > svg {
  width: 18px;
  height: 18px;
  fill: #fa0;
}

.testimonial > p {
  margin: 20px 0 0;
  font-family: Source Serif Pro, sans-serif;
  font-size: 18px;
  line-height: 30px;
  text-align: center;
  color: #000000;
}

@media screen and (min-width: 600px) {
  #awards-wrap {
    justify-content: center;
  }

  .award {
    width: 125px;
  }

  .award > img {
    width: 125px;
    border-radius: 9999px;
  }
}

@media screen and (min-width: 768px) {
  #home-bg-inner > p {
    font-size: 50px;
    line-height: 65px;
  }

  #areas-of-expertise {
    grid-template-columns: 300px 1fr;
    grid-template-rows: repeat(3, 1fr);
    column-gap: 20px;
  }

  #card-grid {
    padding: 0 20px 0;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 20px;
    row-gap: 0;
  }

  .card-wrap > img {
    width: 100%;
  }

  .card-inner-wrap {
    padding: 20px 15px 15px;
  }

  .card-inner-wrap > h3 {
    font-size: 18px;
    line-height: 24px;
  }

  .card-inner-wrap p, .card-inner-wrap a {
    font-size: 14px;
    line-height: 24px;
  }
}

@media screen and (min-width: 1024px) {
  #home-about-wrap {
    grid-template-columns: repeat(2, 1fr);
    grid-template-areas:
      'headline headline'
      'maintext maintext'
      'awards form';
    justify-items: normal;
  }

  #awards-wrap {
    justify-content: space-between;
    justify-self: center;
    max-width: 500px;
  }

  .award, .award > img {
    width: 100px;
  }

  #home-contact-wrap {
    justify-self: end;
  }

  #areas-of-expertise {
    grid-template-columns: 280px 250px 230px;
    grid-template-rows: repeat(2, 1fr);
  }

  #card-grid {
    grid-template-columns: repeat(3, 300px);
  }

  .card-wrap > img {
    max-width: 300px;
  }

  #testimonials-wrap {
    grid-template-columns: repeat(3, 1fr);
    column-gap: 20px;
  }

  .testimonial-middle {
    border-left: 1px solid rgba(31, 45, 61, 0.5);
    border-right: 1px solid rgba(31, 45, 61, 0.5);
    box-sizing: border-box;
  }
}

@media screen and (min-width: 1025px) {
  #home-about-outer-wrap {
    display: flex;
    justify-content: center;
  }

  #home-about-wrap {
    grid-template-columns: 1fr 450px;
    grid-template-areas:
      'headline form'
      'maintext form'
      'awards form';
    column-gap: 20px;
    max-width: 1200px;
  }
}