#pw-bg-wrap {
  box-sizing: border-box;
  background-color: rgba(31, 45, 61, 0.7);
  background-image: linear-gradient(0deg, rgba(31, 45, 61, 0.7), rgba(31, 45, 61, 0.7)), url('../img/probate-wills/parent.webp');
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;

  #pw-header-wrap {
    padding: 160px 20px;

    h1 {
      margin: 0;
      font-family: Source Serif Pro, sans-serif;
      font-size: 30px;
      font-weight: 400;
      font-style: normal;
      line-height: 39px;
      text-align: center;
      color: #ffffff;
    }
  }
}

#pw-content {

  #pw-content-grid {
    display: grid;
    padding: 100px 20px 20px;
  
    #pw-maintext {
      padding: 0 0 60px;
  
      h2 {
        margin: 0 0 30px;
        font-family: Source Serif Pro, sans-serif;
        font-size: 26px;
        font-weight: 400;
        font-style: normal;
        line-height: 36px;
        color: #1f2d3d;
      }
  
      h3 {
        margin: 0 0 30px;
        font-family: Source Serif Pro, sans-serif;
        font-size: 24px;
        font-weight: 400;
        font-style: normal;
        line-height: 33px;
        color: #1f2d3d;
      }
  
      h4 {
        margin: 0 0 20px;
        font-family: Source Serif Pro, sans-serif;
        font-size: 22px;
        font-weight: 400;
        font-style: normal;
        line-height: 30px;
        color: #1f2d3d;
      }
  
      p {
        margin: 0 0 25px;
        font-family: Source Serif Pro, sans-serif;
        font-size: 18px;
        line-height: 30px;
        color: #1f2d3d;
      }
  
      img {
        width: 100%;
        height: auto;
        margin-bottom: 30px;
      }
    }

    #pw-form-wrap {
      display: flex;
      justify-content: center;
      padding-bottom: 60px;
    }

    #pw-partner-grid {
      display: grid;
      padding-bottom: 80px;
  
      #pw-avatar-wrap {
        display: flex;
        justify-content: center;
        padding-bottom: 40px;
  
        img {
          width: 270px;
          height: auto;
          box-sizing: border-box;
          box-shadow: 10px 10px 0px hsl(0, 0%, 89%);
        }
      }
  
      #quote {
        position: relative;
        padding: 40px 0 0 40px;
  
        p {
          margin: 0 0 25px;
          font-family: Source Serif Pro, sans-serif;
          font-size: 18px;
          line-height: 30px;
          color: #1f2d3d;
        }
  
        p::before {
          content: '';
          position: absolute;
          top: 0;
          right: 0;
          bottom: 0;
          left: 0;
          background-image: url('../img/quote-yellow.svg');
          background-size: 100px;
          background-repeat: no-repeat;
          background-position: left top;
          opacity: 0.2;
        }
      }
    }

    #pw-about-grid {
      display: grid;
      justify-content: center;
  
      #why-us, #what-we-do, #wp-process, #administration {
        padding: 20px 20px 40px;
        box-sizing: border-box;
  
  
        h4 {
          margin: 0 0 20px;
          font-family: Source Serif Pro, sans-serif;
          font-size: 22px;
          font-weight: 400;
          font-style: normal;
          line-height: 30px;
          color: #1f2d3d;
  
          svg {
            width: 44px;
            height: 44px;
            padding: 0 11px 4px 0;
            vertical-align: middle;
            fill: #1f2d3d;
          }
        }
      }
  
      p {
        margin: 0 0 10px;
        font-family: Source Serif Pro, sans-serif;
        font-size: 18px;
        line-height: 30px;
        color: #1f2d3d;
  
        svg {
          width: 18px;
          height: 18px;
          padding: 0 5px 2px 0;
          vertical-align: middle;
          fill: #ab9791;
        }
      }
    }

    #contact-us {
      display: flex;
      flex-direction: column;
      align-items: center;
      padding: 20px 20px 100px;
  
      h2 {
        margin: 0 0 30px;
        font-family: Source Serif Pro, sans-serif;
        font-size: 26px;
        font-weight: 400;
        font-style: normal;
        line-height: 36px;
        text-align: center;
        color: #1f2d3d;
      }
  
      a {
        padding: 10px 20px;
        background-color: #323744;
        transition: all 0.4s ease-in-out;
        font-family: Source Serif Pro, sans-serif;
        font-size: 18px;
        line-height: 30px;
        text-decoration: none;
        color: #ffffff;
      }
  
      a:hover {
        transform: translate3d(0, -4px, 0);
        background-color: #ab9791;
      }
    }
  }
}

@media screen and (min-width: 768px) {
  #pw-content {

    #pw-content-grid {

      #pw-partner-grid {
        grid-template-columns: 250px minmax(min-content, 500px);
        justify-content: center;
    
        #pw-avatar-wrap {
    
          img {
            width: 200px;
            height: 280px;
          }
        }
  
        #quote {
          max-width: 500px;
        }
      }
  
      #pw-about-grid {
        grid-template-columns: repeat(2, minmax(min-content, 360px));
  
        #why-us {
          border: 1px solid transparent;
          border-right: 1px solid rgba(64, 96, 128, 0.5);
          border-bottom: 1px solid rgba(64, 96, 128, 0.5);
        }
  
        #what-we-do {
          border: 1px solid transparent;
          border-bottom: 1px solid rgba(64, 96, 128, 0.5);
        }
  
        #wp-process {
          border: 1px solid transparent;
          border-right: 1px solid rgba(64, 96, 128, 0.5);
        }
  
        #administration {
          border: 1px solid transparent;
        }
      }
    }
  }
}

@media screen and (min-width: 1024px) {
  #pw-content {

    #pw-content-grid {
      grid-template-areas: 
        'maintext form'
        'quote quote'
        'about about'
        'contact contact';
  
      #pw-maintext {
        grid-area: maintext;
      }
  
      #pw-form-wrap {
        grid-area: form;
      }
  
      #pw-partner-grid {
        grid-area: quote;
      }
  
      #pw-about-grid {
        grid-area: about;
      }
  
      #contact-us {
        grid-area: contact;
      }
    }
  }
}

@media screen and (min-width: 1200px) {
  #pw-content {
    display: flex;
    justify-content: center;

    #pw-content-grid {
      max-width: 1200px;
    }
  }
}